# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
*.tfvars

# Java
**/target/
*.class
*.jar

# IDE
.idea/
.vscode/
*.iml
.DS_Store
